.App {
  text-align: center;
  padding: 20px;
  font-family: Arial;
}

input {
  margin: 5px;
  padding: 5px;
  border: 1px solid green;
  border-radius: 4px;
}

button {
  margin: 5px;
  padding: 6px 12px;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

h2 {
  font-weight: bold;
}
